.categoryTabsGallery {
  padding: 3rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  background-color: black;
}

.categoryTabsGallery h2 {
  font-family: "Pinyon Script", cursive;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: white;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.tabButton {
  background: transparent;
  border: 0.8px solid white;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Courier New", Courier, monospace;
}

.tabButton:hover {
  background-color: #a55b4b;
  border-color: #a55b4b;
}

.tabButton.active {
  background-color: #a55b4b;
  border-color: #a55b4b;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* always 2 columns */
  gap: 1rem;
}

.gridItem img {
  width: 100%;
  height: 250px; /* increased a bit for nicer proportion */
  object-fit: cover;
  border-radius: 0.5rem;
  transition: transform 0.3s ease, filter 0.3s ease;
}
